<div class="btn-group">
    <a href="/index.html" class="btn">Home</a>
    <a href="/registration.html" class="btn">Registration</a>
    <a href="/abstracts.html" class="btn">Abstracts</a>
    <a href="/program.html" class="btn">Program</a>
    <a href="/workshops.html" class="btn">Workshops</a>
    <a href="/social.html" class="btn">Social Events</a>
    <a href="/accomodation.html" class="btn">Accomodation</a>
    <a href="/venue.html" class="btn">Getting There</a>
    <a href="/awards.html" class="btn">Travel Awards</a>
    <a href="/sponsors.html" class="btn">Sponsors</a>
    <a href="http://www.acns.org.au" target="_blank" class="btn">ANCS Home</a>
</div>
