<!DOCTYPE html>
<html>
    <head>
        <title>ACNS | {{ page.title }}</title>
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway|Lato:300,400' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div id="nav">
            <img src="/images/logo_large.png" width="500" height="158" alt="The Australian Conference on Personality and Individual Differences">
            <br>
            <div class="btn-group">
                <a href="/registration.html" class="btn">Registration</a>
                <a href="/committee.html" class="btn">Committee</a>
                <a href="/abstracts.html" class="btn">Conference Abstracts</a>
                <a href="/links.html" class="btn">Links</a>
                <a href="http://www.acns.org.au" class="btn">ANCS Home</a>
            </div>
        </div>
        <div id="content">
            {{ content }}
        </div>
        <p style="text-align: center; font-size: 7pt;">
            Copyright &copy; 2016 Australasian Cognitive Neuroscience Society
        </p>
    </body>
</html>
